Icon(size="mini" title="详情"   @click="opneDetailDialog('info',item)" type="icon-detail"  plain  )
Icon(size="mini" title="导出"  @click="educe([item.id])" type="icon-link"  plain   )
Icon(size="mini" title="删除" @click="delChoosen(item.id,item)"  type="icon-delete"  plain  )
    