/* 基本设置 */
$layout-padding = 0.3rem
$footer-height = 1rem
$header-height = 0.88rem
$shadow-height = 0.2rem
$exam-input-len = 0.75rem
$textarea-height = 1rem

/**  字体 */
font-size = 16px

/** 颜色 */
$text-color-3 = #333
$text-color-4 = #444
$text-color-5 = #555
$text-color-6 = #666
$text-color-7 = #777
$text-color-8 = #888
$text-color-9 = #999
$theme-color = #3496e1
$color-white = #FFF
$text-color-a = #7c8089
$text-color-b = #ff9933
$text-color-o = #ff5d16
$txt-color = #808080
$bg-color-default = #f4f5f7

icon(imgUrl, w, h=w, color=transparent)
  display inline-block
  width w
  height h
  background url(imgUrl) no-repeat center
  background-size w h

fullbg(imgUrl)
  background url(imgUrl) no-repeat center
  background-size cover