@import './variable'

.replay-discuss
  >.wrap
    margin 0 30px
    >.item
      border-bottom 1px solid #eef3f5
      padding 30px 0
      >.main
        padding 0px 0 15px 0
      >.child
        margin-left 65px
        padding 20px 15px
.btn-out
  padding 10px 10px
  border-radius 4px
  border 1px solid $main-color
  text-align center
  font-size 16px
  background $main-color
  color #fff
  display inline-block
