set-icon(name, w, h)
	.icon-{name}
		display inline-block
		width w
		height h
		background url("../img/"+ name + ".png") no-repeat center
		background-size contain

set-icon('user', 0.31rem, 0.34rem)
set-icon('lock', 0.31rem, 0.34rem)
set-icon('phone', 0.31rem, 0.34rem)
set-icon('code', 0.31rem, 0.34rem)
set-icon('envelope', 0.4rem, 0.34rem)
set-icon('qq', 0.75rem, 0.75rem)
set-icon('weixin', 0.75rem, 0.75rem)
set-icon('back', 0.24rem, 0.36rem)