theme-color = #3496e1
basic-white = #FFF
basic-9 = #999
basic-border-c = #dfe6eb

// 公共样式
.ib
	display inline-block
.tc
	text-align center
.f14
	font-size 14px
.f16
	font-size 16px
.f18
	font-size 18px
.c-bg-f
	background-color basic-white
.p15rem
	padding 0 15px
.flex-bt
	display flex
	justify-content space-between
	align-items center
.flex-center
	display flex
	align-items center
	justify-content center

.pt88-static__vh
	padding-top 0.88rem
	height 100vh
	box-sizing border-box
	button
		width 100%
		height 1rem
		color #fff
		background-color #169bd5
		border none
		outline none
		font-size 16px
		border-radius 5px
		>div
			margin-right 0.3rem

.img-panel
	margin 0 auto
	margin-top 0.75rem
	width 1.36rem

.img-login_bg
	width 1.45rem
	height 1.06rem
	background url(../img/img_logo.png) no-repeat center
	background-size cover

form
	margin-top 0.5rem
	.form-control
		position relative
		margin-bottom 0.3rem
		display flex
		justify-content space-between
		align-items center
		img
			position absolute
			right 0
			width 1.64rem
			height 0.8rem
		>span
			position absolute
			display inline-block
		input
			width 100%
			padding 0.3rem 0
			font-size 14px
			text-indent 2em
			border none
			border-bottom 1px solid basic-border-c
		.btn-send
			right 0
			padding 0.13rem
			font-size 12px
			color theme-color
			border 1px solid theme-color
			border-radius 5px