c1 = #ff4614
c2 = #ff8a34
c4 = #ff9933
c5 = #808080
c6 = #3998e2
*
	touch-action pan-y
.scroll
	padding 0.3rem
.loading
	margin-top 0.05rem
.hide 
	display none
.textarea
	border 1px solid #ccc
	padding 0.1rem 0.2rem
	&:hover 
		border 1px solid c6
.infoMsg
	color #b3b3b3
	font-size 0.26rem
.noMsg
	color #808080
	padding 0.3rem
	text-align center
.betn 
	display flex
	justify-content space-between
.oh 
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
/* 颜色调整  */
.c1 
	color c1
.c2 
	color c2  
.c3  
	color c3
.c4
	color c4
.c5
	color c5
